extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container.px-4.px-lg-5
      a.navbar-brand(href='https://find-closest-henry.netlify.app/') Client Page
      button.navbar-toggler.navbar-toggler-right(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link(href='/usuarios') Users
          li.nav-item
            a.nav-link(href='/logout') Log out
          li.nav-item
            a.nav-link(href='#signup') About
  // Masthead
  header.masthead
    .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
      .d-flex.justify-content-center
        .text-center
          h1.mx-auto.my-0.text-uppercase Henry Networking
          h2.text-white-50.mx-auto.mt-2.mb-5 A page created for those who have participated in the Bootcamp
          h3.text-white-50.mx-auto.mt-2.mb-5 Administration Page
  // About
  section#about.about-section.text-center
    .container.px-4.px-lg-5
      .row.gx-4.gx-lg-5.justify-content-center
        .col-lg-8
          h2.text-white.mb-4 Information
          p.text-white-50
            | This website was design and developed by Tomas Ignacio Macchi a fullstack developer.<br> The main purpose of the page is to have all the registered and verified users in the map so everyone can find his closest henry in there !. <br> Technologies used: Bootstrap, CSS , MongoDB, Mongoose, React, PassportJs, Express, NodeJs & Sendgrip
                  
     
  // Projects
  //- section#projects.projects-section.bg-light
  //-   .container.px-4.px-lg-5
  //-     #main_map
  section.contact-section.bg-black
    .container.px-4.px-lg-5
      .row.gx-4.gx-lg-5
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-map-marked-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Address
              hr.my-4.mx-auto
              .small.text-black-50 Blas de la Vega 1965, Corrientes, Argentina
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-envelope.text-primary.mb-2
              h4.text-uppercase.m-0 Email
              hr.my-4.mx-auto
              .small.text-black-50
                a(href='#!') muma.sanmartin2011@gmail.com
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-mobile-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Phone
              hr.my-4.mx-auto
              .small.text-black-50 +54 3794 658844
      .social.d-flex.justify-content-center
        a.mx-2(href='#!')
          i.fab.fa-twitter
        a.mx-2(href='#!')
          i.fab.fa-facebook-f
        a.mx-2(href='#!')
          i.fab.fa-github
  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .container.px-4.px-lg-5 Copyright &copy; Your Website 2021
  // Bootstrap core JS
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')
  // Core theme JS
  script(src='js/scripts.js')
  script(src='js/map.js')

  // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  // * *                               SB Forms JS                               * *
  // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
  // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')


